<!-- Landing page design, https://www.digitalocean.com/community/tutorials/build-a-beautiful-landing-page-with-tailwind-css-->

<!-- Hero section-->
<div class="py-20" style="background: linear-gradient(90deg, #22e0e0 0%, #235af0 100%)">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Tame Your Work Organize Your Life
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Remember everything and tackle any project with your notes, tasks, and schedule all in one place.</p>
    </h3>

    {{#if currentUser}}
    <a href="/{{currentUser.details.username}}"
      class="items-center justify-center rounded-full shadow-lg bg-pink-500 px-8 py-3 text-base font-medium text-white hover:bg-pink-600 md:py-4 md:px-10 md:text-lg">
      Go To Your dashboard
    </a>
    {{else}}
    <a href="/user/signup"
      class="items-center justify-center rounded-full shadow-lg   bg-pink-500 px-8 py-3 text-base font-medium text-white hover:bg-pink-600 md:py-4 md:px-10 md:text-lg">
      Sign up for an account
    </a>
    {{/if}}

    {{#if currentUser}}
    {{!-- <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
      <div class="mx-auto">
        <span class="font-bold"> Welcome, {{currentUser.details.username}}</span>
      </div>

    </div> --}}
    {{else}}
    <div class="ml-5 mt-5 sm:mt-8">
      <div class="mx-auto">
        <a href="/user/login" class="text-sm text-white underline hover:text-blue-800">
          Already have an account? Log in
        </a>
      </div>
    </div>
    {{/if}}
  </div>
</div>


<!-- Feature Sections-->

<section class="container mx-auto px-6 p-10">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Features
  </h2>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">WORK ANYWHERE</h4>
      <p class="text-gray-600 mb-8">Keep important information at hand - your notes are automatically synced to all your
        devices.</p>
    </div>
    <div class="w-full md:w-1/2 shadow-2xl">
      <img src="/assets/images/kanban-screenshot.png" alt="work anywhere" />
    </div>
  </div>


  <div class="w-full md:w-1/2">
    <h4 class="text-3xl text-gray-800 font-bold mb-3">REMEMBER EVERYTHING</h4>
    <p class="text-gray-600 mb-8">Make notes more useful by adding text...</p>
  </div>

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">FIND THINGS FAST</h4>
      <p class="text-gray-600 mb-8">Get what you need, when you need it with powerful, flexible search capabilities.</p>
    </div>

  </div>
</section>

<footer class="bg-gray-100">
  <div class="container mx-auto px-6 pt-10 pb-10">
    <div class="flex flex-wrap justify-center">

      <div class="flex w-full flex-wrap justify-center">
      <p class="text-gray-600 ">Group 22, CPSC-349, Section 13693, CSUF.</a>
      </div>
      <div class="flex w-full flex-wrap justify-center">
      <p class="text-gray-600 ">@Copyright 2022. All Rights Reserved.</a>
      </div>
    </div>
  </div>
</footer>